{%extends 'base.html'%}
{%load static%}

{%block title%}
{%endblock%}

{%block content%}
<div class="bg-black h-full">
    <div class="p-2 sm:p-4">
        <div class="flex justify-center">
            <img src="{%static 'indexpics.jpg'%}" alt="">
        </div>
        <div class="flex justify-center pt-16 pb-10 md:pb-16">
            <a href="{%url 'core:home'%}">
                <p class="text-black py-3 px-8 rounded-tl-full rounded-tr-full rounded-br-full border-2 border-white uppercase bg-white hover:bg-red-500 hover:text-white transition ease-in-out duration-500">
                    Enter Site
                </p>
            </a>
        </div>
        <div class="flex space-x-9 md:space-x-16 text-xl md:text-3xl lg:text-4xl justify-center pb-16">
            <a href="https://www.linkedin.com/in/jonah-ebute-142b1323a/" class="bg-blue-500 text-white px-1 rounded-md transition ease-in-out duration-500" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.jonahebute.com" class="bg-blue-500 px-1 rounded-md text-white transition ease-in-out duration-500" target="_blank">
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="https://twitter.com/ebute_jonah246?t=dqEt36uY4YutUdniDizNxw&s=09" class="bg-blue-500 px-1 rounded-md text-white transition ease-in-out duration-500" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>    
        </div> 
    </div>
    <footer class="border-t-2 border-gray-500 py-12 md:py-24 md:mt-24">
        <p class="text-gray-500 text-md text-center underline">
           DISCLAIMER 
        </p>
        <p class="text-gray-500 text-md text-center">
            This site was built(with django and tailwindcss) purely for practice
        </p>
    </footer>
      
</div>

{%endblock%}
